@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';


.cursor-pointer {
    cursor: pointer;
}

.p-menubar {
    border: none;
    box-shadow: rgb(38 57 77 / 28%) 0px 5px 20px -1px;
}